<div xmlns:th="http://www.thymeleaf.org"
     th:fragment="partsContent">

    <!-- 検索エリア -->
    <h3 class="heading-1">部品検索</h3>
    <div class="search-area">
        <form onsubmit="searchPart(event)">
            <select id="partMasterId" name="partMasterId">
                <option value="">選択してください</option>
                <option th:each="pm : ${partMasters}"
                        th:value="${pm.id}"
                        th:text="${pm.partName}">
                </option>
            </select>
            <button class="button-1" type="submit">検索</button>
            <a href="javascript:void(0);" onclick="loadAllParts()" class="all-link">全部品一覧</a>
        </form>
    </div>

    <!-- 部品一覧 -->
    <div class="box-009">
        <div>
            操作説明
        </div>
        <p>
            ※ 部品の種類を選択して検索ボタンをクリックするか、全部品一覧をクリックすると部品情報が表示されます。<br>
            ※ 部品名をクリックすると、更新画面が表示されます。数量を変更する際は、必ず日付を更新日に変更してください。<br>
            <br>
            ※ 期間を指定して集計ボタンをクリックすると、その間にどれだけ部品の数量が増減したかを知ることができます。
        </p></div>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>部品名</th>
            <th>型番</th>
            <th>数量</th>
            <th>最終入庫日</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="part : ${parts}">
            <td th:text="${part.id}"></td>
            <td><a href="javascript:void(0);" th:onclick="|loadPart(${part.id})|">
                <span th:text="${part.partName}"></span></a></td>
            <td th:text="${part.modelNumber}"></td>
            <td th:text="${part.stockQuantity}"></td>
            <td th:text="${#temporals.format(part.lastOrderedAt, 'yyyy/MM/dd')}"></td>
        </tr>
        </tbody>
    </table>
    <div class="edit-area" th:if="${part != null}">
        <h3 class="heading-1">部品の更新</h3>

        <input type="hidden" id="partId" th:value="${part != null ? part.id : ''}">

        <label>
            部品名：
            <select id="editPartMasterId" name="partMasterId">
                <option th:each="pm : ${partMasters}"
                        th:value="${pm.id}"
                        th:selected="${pm.id == part.partMasterId}"
                        th:text="${pm.partName}">
                </option>
            </select>
        </label>

        <label>
            型番：
            <input type="text" id="modelNumber" th:value="${part != null ? part.modelNumber : ''}">
        </label>

        <label>
            数量：
            <input type="number" id="stockQuantity" th:value="${part != null ? part.stockQuantity : ''}">
        </label>

        <label>
            更新日：
            <input type="date" id="lastOrderedAt"
                   th:value="${part != null && part.lastOrderedAt != null ? #temporals.format(part.lastOrderedAt,'yyyy-MM-dd') : ''}">
        </label>
        <input type="hidden"
               id="processId"
               th:value="${part != null ? part.processId : ''}">
        <br><br>
        <button class="button-1" onclick="updatePart()">更新</button>
    </div>

    <!-- 登録 -->
    <div th:if="${process != null}">
        <h3 class="heading-1">部品の登録</h3>
        <form onsubmit="registerPart(event)">
            <input type="hidden" name="processId"
                   th:value="${process != null && process.id != null ? process.id : ''}">
            <select id="registerPartMasterId" name="partMasterId">
                <option th:each="pm : ${partMasters}"
                        th:value="${pm.id}"
                        th:text="${pm.partName}">
                </option>
            </select>
            <input type="text" name="modelNumber" placeholder="型番">
            <input type="number" name="stockQuantity" placeholder="初期数量">
            <input type="date" name="lastOrderedAt">
            <br><br>
            <button class="button-1" type="submit">登録</button>
        </form>
    </div>

    <!-- 棚卸し入力エリア -->
    <div class="inventory-area">
        <h3 class="heading-1">棚卸し（期間指定）</h3>

        <form onsubmit="return false;">
            <label>
                開始日：
                <input type="date" id="from">
            </label>

            <label>
                終了日：
                <input type="date" id="to">
            </label>
            <br><br>
            <button class="button-1" onclick="loadStockSummary()">集計</button>
        </form>

        <div class="summary-area"></div>
    </div>

</div>

<div xmlns:th="http://www.thymeleaf.org"
     th:fragment="summary">

    <h3 class="heading-1">棚卸し結果</h3>

    <table class="table">
        <thead>
        <tr>
            <th>部品名</th>
            <th>型番</th>
            <th>入庫</th>
            <th>出庫</th>
            <th>差引</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="s : ${partSummaries}">
            <td th:text="${s.partName}"></td>
            <td th:text="${s.modelNumber}"></td>
            <td th:text="${s.totalIn}"></td>
            <td th:text="${s.totalOut}"></td>
            <td th:text="${s.difference}"></td>
        </tr>
        </tbody>

    </table>
    <script th:if="${errorMessage}" th:inline="javascript">
        alert([[${errorMessage}]]);
    </script>
</div>
