<div xmlns:th="http://www.thymeleaf.org" th:fragment="menu">
    <ul class="process-menu">
        <!-- TOP -->
        <li>
            <a th:href="@{/inventory}">TOP</a>
        </li>

        <li th:each="process : ${processes}">
            <!-- 部品/製品などクリックで右画面切り替え -->
            <a href="javascript:void(0)"
               th:if="${process.id == 3 or process.id == 9}"
               th:text="${process.processName}"
               th:data-id="${process.id}"
               class="process-link">
            </a>

            <!-- それ以外はただのテキスト -->
            <span th:unless="${process.id == 3 or process.id == 9}"
                  th:text="${process.processName}">
            </span>
        </li>
    </ul>
</div>